[user]
    name = Tyler Kahn
    email = tkahn6@gmail.com
[apply]
    whitespace = strip
[diff]
    color = auto
    rename = copy
[pager]
    color = true
    less = -FMRiX
[status]
    color = auto
[push]
    default = simple
[color]
    ui = auto
[core]
    quotepath = false
    editor = vim
    excludesfile = ~/.gitignore_global
[alias]
    curbranch = rev-parse --abbrev-ref HEAD
