[user]
    name = Tyler Kahn
    email = tyler@tylerkahn.org
[apply]
    whitespace = strip
[diff]
    color = auto
    rename = copy
[pager]
    color = true
    less = -FMRiX
[status]
    color = auto
[push]
    default = simple
[color]
    ui = auto
[core]
    quotepath = false
    editor = vim
    excludesfile = ~/.gitignore_global
[alias]
    curbranch = rev-parse --abbrev-ref HEAD
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
